@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root{
    --dark-bg-color: hsl(207, 26%, 17%);
    --article-color: hsl(209, 23%, 22%);
    --text-color: hsl(0, 0%, 100%);
    --light-mode-text: hsl(200, 15%, 8%);
    --light-mode-input: hsl(0, 0%, 52%);
    --light-mode-background: hsl(0, 0%, 98%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  max-height: 100%;
}

.btn {
  background-color: var(--article-color);
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  border: 2px solid var(--article-color);
  border-radius: 4px;
  transition: background-color 0.2s;
  margin-left: 50px;
  font-weight: 300;
}

.btn:hover {
  background-color: var(--dark-bg-color);
  color: var(--text-color);
}

body{
  font-family: 'Nunito Sans', 'sans-serif';
  font-size: small;
  background-color: var(--dark-bg-color);
  color: var(--text-color);
  transition: background-color 0.6s;
}




/*Header*/
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--article-color);
  padding: 10px 20px;
  box-shadow: 0 5px 10px hsla(200, 15%, 8%, 0.1);
  margin-bottom: 20px;
  transition: background-color 0.4s;
  height: 70px;
}
.header h1{
  font-size: 1.2em;
}
.header i:hover{
  cursor: pointer;
}
.header i span{
  margin-left: 12px;
  font-size: 10px;
  font-weight: lighter;
  text-transform: lowercase;
}



/*Filter & search*/
/*Filter & search*/

.filter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.filter .form-control{
  width: 100%;
  height: 55px;
  margin: 0 0 20px;
}

.filter .form-control input{
 background-color: var(--article-color);
 outline: none;
 padding: 10px;
 padding-left: 60px;
 border: none;
 border-radius: 5px;
 font-family: inherit;
 letter-spacing: 0.5px;
 font-weight: 300;
 width: 100%;
 height: 100%;
 color: var(--text-color);
 box-shadow: 0 5px 10px hsla(200, 15%, 8%, 0.1);
 transition: background-color 0.4s;
 
}


/*
.filter .form-control input::placeholder {
  color: var(--text-color);
}
*/


.filter .form-control{
  position: relative;
}
.filter .form-control .icon{
  position: absolute; 
  left: -10px;
  top: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter .form-control .icon i{
  color: var(--text-color);
  padding-left: 25px;
}



/*select*/
.filter .region-filter {
  width: 100%;
}

.filter .region-filter .select {
  background-color: var(--article-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 5px;
  height: 50px;
  width: 50%;
  border: none !important;
  outline: none;
  font-family: inherit;
  box-shadow: 0 5px 10px hsla(200, 15%, 8%, 0.1);
  transition: background-color 0.4s;

}


.filter .region-filter .select option{
  font-size: 12px;
  border: none;
  outline: none;
}

/*Grid : images and text*/
/*Grid : images and text*/
/*Grid : images and text*/

.grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 40px;
}

.grid article img{
  border-radius: 7px 7px 0 0;
  height: 200px;
  width: 100%;
}

.grid article{
  box-shadow: 0 5px 10px hsla(200, 15%, 8%, 0.1);
}

.grid .country-info{
  background-color: var(--article-color);
  padding: 30px;
  padding-bottom: 60px;
  margin: -15px 0 0px;
  border-radius: 0 0 9px 9px;
  transition: background-color 0.4s;
}

.grid .country-info h3{
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 22px;
}

.grid .country-info h4{
  padding-bottom: 5px;
  font-weight: 600;
}

.grid .country-info h4 span{
  font-weight: 300;
}




/*light mode*/
body.light-theme {
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
}

header.light-theme {
  background-color: var(--text-color);
  color: var(--light-mode-text);
}
.filter .form-control .icon i.light-theme{
  color: var(--light-mode-text);
}

.filter input.light-theme{
  background-color: var(--text-color);
  color: var(--light-mode-text);
}

/*
.filter .form-control input::placeholder.light-theme{
  color: var(--light-mode-text);
}
*/

.filter .region-filter .select.light-theme{
  background-color: var(--text-color);
  color: var(--light-mode-text);
}
.btn.light-theme{
  background-color: var(--text-color);
  color: var(--light-mode-text);
  border: var(--light-mode-input);
  font-weight: 300;
}
.btn:hover.btn.light-theme{
  background-color: var(--light-mode-input);
}

.grid .country-info.light-theme{
  background-color: var(--text-color);
  color: var(--light-mode-text);
}


/*media queries*/

/*tablet*/

@media(min-width: 740px) {
  .filter{
    flex-direction: row;
    padding: 10px 100px;
    padding-top: 30px;
  }
  .filter .form-control{
    width: auto;
    margin: 0;
  }
  .filter .form-control input{
    width: auto;
  }
  .filter .region-filter{
    width: 20%
  }
  .filter .region-filter .select{
    width: 100%;
  }
  .header{
    height: 150px;
    padding: 0 100px;
  }
  .header h1{
    font-size: 2em;
  }

  .grid{
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 100px; 
  }
}

@media(min-width: 1200px){
  body{
    font-size: 16px;
  }
  .filter .form-control{
    width: 40%;
  }
  .filter .form-control input{
    width: 100%;
  }
  .filter .region-filter{
    width: 15%
  }
  .filter .region-filter .select{
    width: 100%;
  }
  .header{
    height: 120px;
  }
  .header h1{
    font-size: 2em;
  }
  .grid{
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
  }
}



/*desktop*/
@media(min-width: 1440px) {
  body{
    font-size: 16px;
  }
  .filter .form-control{
    width: 40%;
  }
  .filter .form-control input{
    width: 100%;
  }
  .filter .region-filter{
    width: 15%
  }
  .filter .region-filter .select{
    width: 100%;
    
  }
  .header{
    height: 120px;
  }
  .header h1{
    font-size: 2em;
  }
  .grid{
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
  }
}
